<!-- your html code here -->

<div class="row bg-white">    
    <div class="col-8">    
        <h4><strong>
            The First Heading</strong> Will Catch Your Eye
        </h4>
        <p>
            Donex ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euisimod semper. Prasent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
    </div>  
    <div class="col-4">
        <img src="https://www.shareicon.net/data/2016/02/19/721771_man_512x512.png" class="content.img" width="300px" height="300px">
    </div>  
</div>    