<!-- your html code here -->
<div CLASS= "bg-white">
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Portifolio</h2>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
      </div>
    </div>
    <div class="card-group">
        <div class="card m-4">
          <img src="https://place-hold.it/700x400" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-primary">Project Name</h5>
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
        <div class="card m-4">
          <img src="https://place-hold.it/700x400" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-primary">Project Name</h5>
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

          </div>
        </div>
        <div class="card m-4">
          <img src="https://place-hold.it/700x400" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-primary">Project Name</h5>
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

          </div>
        </div>
      </div>
</div>
  
      
  
  
  
  
  
  
  
  
  
  